.AuthPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--white);
  border-radius: 2vmin;
}

.AuthPage h1 {
  text-align: center;
  font-size: 5em;
  color: var(--bgc-05);
  cursor: pointer;
}

.AuthPage h2 {
  text-align: center;
  color: var(--bgc-05);
  cursor: pointer;
}

.AuthPage button {
  color: var(--bgc-04);
  font-size: 2em;
}
