h1 {
  color: var(--bgc-05);
}

div.Dashboard {
  background-color: var(--col-04);
  width: 90vw;
  height: fit-content;
  border-radius: 1vmin;
  margin: 1em auto;
}

div.logos {
  display: flex;
  flex-flow: row nowrap;
}

img.logo {
  border-radius: 50%;
  margin: 0.5em;
  object-fit: cover;
}

.Chart {
  min-height: 70vh;
  max-height: 70vh;
}
