::-webkit-scrollbar-track {
  box-shadow: none;
  -webkit-box-shadow: none !important;
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 3px !important;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.YearBar {
  max-height: 10vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: var(--bgc-03);
  display: flex;
  justify-content: flex-end;
  overflow-x: scroll;
  padding: 0.5em;
}

a {
  display: inline-block;
  padding: 0.4em;
}

#signOut {
  color: var(--col-03);
  font-size: 1.5em;
  justify-content: flex-end;
}
