::-webkit-scrollbar-track {
  box-shadow: none;
  max-height: 2vh;
  -webkit-box-shadow: none !important;
  background-color: transparent;
}
::-webkit-scrollbar {
  height: 2vh;
  width: 3px !important;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  height: 2vh;
  background-color: transparent;
}

.YearBar {
  max-height: 10vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
  background-color: var(--bgc-03);
  display: flex;
  justify-content: flex-end;
  overflow-x: scroll;
}
