.NavBar nav {
  background-color: var(--bgc-05);
  display: flex;
  height: 20vmin;
}

.NavBar img {
  max-height: 20vmin;
  justify-content: left;
}

#signOut {
  color: var(--bgc-03);
  font-size: 1.4em;
}
