@import url("https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300;400;900&family=Raleway&display=swap");

:root {
  --bgc-01: #35f287;
  --bgc-02: #41d983;
  --bgc-03: #bf622c;
  --bgc-04: #f2b8a2;
  --bgc-05: #732929;
  --col-01: #f2b8a2;
  --col-02: #f0b7a1;
  --col-03: #c99a87;
  --fnt-headers: Londrina Solid;
  --fnt-body: Raleway;
  --fnt-mono: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  --h1: 3.583rem;
  --h2: 2.986rem;
  --h3: 2.488rem;
  --h4: 2.074rem;
  --h5: 1.728rem;
  --h6: 1.44rem;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: var(--bgc-02);
  margin: 0;
  font-family: Raleway, -apple-system, "Roboto", "Cantarell", "Oxygen", "Ubuntu",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--col-03);
  height: 100vh;
  overflow-x: hidden;
  user-select: none;
  -webkit-user-drag: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fnt-headers);
  font-weight: 900;
  color: whitesmoke;
  -webkit-text-stroke: 1px black;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

a {
  text-decoration: none;
}

button {
  font-family: var(--fnt-headers);
  font-weight: 400;
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--orange);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: 0.1vmin solid var(--tan-2);
  border-radius: 0.5vmin;
  outline: none;
  cursor: pointer;
}

#root {
  height: 100%;
}

.form-container {
  max-width: 80vw;
  padding: 2rem;
  background-color: var(--bgc-03);
  border: 0.2vmin solid var(--bgc-02);
  border-radius: 1rem;
}

p.error-message {
  color: var(--bgc-05);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1vmin;
  color: var(--bgc-05);
}

label {
  font-size: 1.3em;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

input,
select {
  background-color: whitesmoke;
  padding: 0.3rem;
  margin: 1rem;
  font-size: 1.5em;
  font-family: var(--fnt-body);
  border: 0.3vmin solid var(--bgc-05);
  border-radius: 0.5vmin;
  color: var(--bgc-05);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus,
select:focus {
  border: 0.3vmin dashed var(--bgc-01);
}

option:hover {
  background-color: var(--bgc-01);
}

input::placeholder {
  opacity: 0.2;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: 0.6vmin 0.8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: 0.4vmin 0.5vmin;
}

button:disabled,
form:invalid button[type="submit"] {
  background-color: var(--bgc-03);
  cursor: not-allowed;
}

button[type="submit"] {
  background-color: var(--bgc-05);
  grid-column: span 2;
  margin: 1vmin 0 0;
}
